@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@source "../views";
@font-face {
    font-family: 'Geist Variable';
    src: url('../fonts/geist/Geist-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}
body {
    font-family: 'Geist Variable', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

