@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'remixicon/fonts/remixicon.css';
@import 'trix/dist/trix.css';
@source "../views";
@font-face {
    font-family: 'Geist Variable';
    src: url('../fonts/geist/Geist-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}
body {
    font-family: 'Geist Variable', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Personnalisation de l'éditeur Trix */
trix-editor {
    min-height: 300px;
    border-radius: 0.375rem;
    border-color: #e5e7eb;
    padding: 0.5rem;
}

trix-editor:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.trix-button-group {
    border-color: #e5e7eb;
}

.trix-button {
    border-bottom: none;
}

.trix-button.trix-active {
    background: #f3f4f6;
}
